body {
    background-color: black;
    color: white;
    margin: 10px;
    display: inline-block;
}
.nav_bar {
    width: 100%;
    height: 60px;
}
#nav_bar {
    float: right;
    font-size: 18px;
  }

  #nav_bar li {
    display: inline-block;
    padding: 8px;
  }
  a {
    text-decoration: none;
    color: white;
}

.nav_links a:hover {
    text-decoration: underline;
  }
  header {
      text-align: center;
      border: solid 1px white;
  }
.main {

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
  .Info {
      margin: 10px;
      width: 50%;
      border: solid 1px white;
      display: flexbox;
  }
  hgroup {
    text-align: center;
    border-right: 10px solid #00c8d7;
}

td {
    text-align: center;
    padding: 10px;
}

#left {
    float: left;
    width: 50%;
    display: flexbox;
}


#right {
    float: right;
    width: 50%;
    text-align: center;
}

.progress {
    width: 50%;
    float: right;
    text-align: center;
    display: block;
}

.video {
    padding: 10px;
    width: 50%;
    text-align: center;
    
}

video {
    width: 60%;    
}
figure {
    float: right;
}
img {
    width: 75%;
}
.Date {
    text-align: right;
}

hr {
    color: white;
}
footer {
    display: inline-block;
}

@media only screen and (max-width: 768px) {
    body {
        display: inline-block;
    }

    .video {
        display: none;  
    }
    .Info {
        width: auto;
    }
  }

  @media only screen and (max-width: 375px) {
    body {
        display: inline-block;
    }
    .video {
        display: none;  
    }
    .Info {
        width: auto;
    }
    .main {
        display: inline-block;
    }
    #right {
        width: 100%;
    }
    .nav_bar {
        width: 100%;
    }
    #nav_bar {
        font-size: 14px;
      }
      #nav_bar li {
        display: inline;
      }
      .progress {
        width: 50%;
        float: right;
        text-align: center;
        display: block;
    }
    .Date {
        text-align: left;
    }
  }
